.right-container{
    background-image: url('https://i.postimg.cc/4dnZCH03/background.png');
        background-position: bottom center;
        background-color: #1B1B1B;
}


.bottom-container{
    background-image: url('https://i.postimg.cc/4dnZCH03/background.png');
        background-position: bottom center;
        background-color: #1B1B1B;
}

.card1{
    padding: 10px;
        border-radius: 20px ;       background-image: url('https://i.postimg.cc/4dnZCH03/background.png');
        background-position: bottom center;
        background-color: #1B1B1B;
        height: 250px; 
        width: 450px;
        display: flex;
  justify-content: center;
  align-items: center;

}